/* Styling for small devices */

/* Navbar Styling */

/* Light Theme Styling */

.navbar-section {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    height: 60px;
  }
  
  .logout-btn {
    align-self: center;
    display: none;
  }
  
  .navbar-themeimg {
    font-size: 20px;
    align-self: center;
    cursor: pointer;
  }
  .hamburger-icon {
    align-self: center;
    font-size: 20px;
    color: #000000;
  }
  .smlogout-icon {
    align-self: center;
    font-size: 20px;
    color: #000000;
  }
  .logout-popupbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    align-self: center;
    padding: 25px;
    gap: 30px;
  }
  .logout-text {
    margin: 0px;
    font-size: 14px;
    color: #00306e;
    font-weight: 500;
  }
  .cancel-btn {
    height: 40px;
    width: 80px;
    border: 2px solid #94a3b8;
    border-radius: 3px;
    background-color: transparent;
    color: #94a3b8;
    font-weight: 500;
    cursor: pointer;
  }
  .confirm-btn {
    height: 40px;
    width: 80px;
    border: 0px;
    border-radius: 3px;
    background-color: #3b82f6;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Dark Theme Styling */
  
  .navbar-section-dark {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    height: 60px;
  }
  
  .logout-btn-dark {
    align-self: center;
    display: none;
  }
  
  .navbar-themeimg-dark {
    color: #ffffff;
    font-size: 20px;
    align-self: center;
    cursor: pointer;
  }
  .hamburger-icon-dark {
    align-self: center;
    font-size: 20px;
    color: #ffffff;
  }
  .smlogout-icon-dark {
    align-self: center;
    font-size: 20px;
    color: #ffffff;
  }
  .logout-popupbg-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #383838;
    border-radius: 10px;
    align-self: center;
    padding: 25px;
    gap: 30px;
  }
  .logout-text-dark {
    margin: 0px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
  }
  .cancel-btn-dark {
    height: 40px;
    width: 80px;
    border: 2px solid #94a3b8;
    border-radius: 3px;
    background-color: transparent;
    color: #94a3b8;
    font-weight: 500;
    cursor: pointer;
  }
  .confirm-btn-dark {
    height: 40px;
    width: 80px;
    border: 0px;
    border-radius: 3px;
    background-color: #3b82f6;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Common Styling */
  .navbar-logo {
    margin: 0px;
  
    align-self: center;
  }
  
  .logo-img {
    width: 80px;
    cursor: pointer;
  }
  
  .navbar-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .sm-hamburger-btn {
    background-color: transparent;
    border: 0px;
    align-self: center;
    margin: 0px;
    padding: 0px;
  }
  .hamburger {
    align-self: center;
  }
  .sm-logout {
    align-self: center;
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
  }
  .logoutpopup-cont {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .logoutpopup-btn {
    align-self: center;
    display: flex;
    gap: 30px;
  }
  .route-link {
    text-decoration: none;
  }
  .theme-btn {
    margin: 0px;
    padding: 0px;
    align-self: center;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    
  }
  
  /* SideBar Popup Styling for Small Devices*/
  
  /* Light Theme Styling*/
  
  .sidebarlink-icon-popup {
    font-size: 22px;
    color: #383838;
    align-self: center;
  }
  
  .sidebarlink-popup {
    margin: 0px;
    font-size: 16px;
    color: #383838;
    font-weight: 500;
    align-self: center;
    width: 150px;
  }
  
  .navsidebar-popup {
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .close-btn {
    font-size: 22px;
    color: #000000;
  }
  
  /* Dark Theme Styling*/
  
  .navsidebar-popup-dark {
    width: 100vw;
    height: 100vh;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sidebarlink-icon-popup-dark {
    font-size: 22px;
    color: #606060;
    align-self: center;
  }
  
  .sidebarlink-popup-dark {
    margin: 0px;
    font-size: 16px;
    color: #f9f9f9;
    align-self: center;
    font-weight: 500;
    width: 150px;
  }
  
  .close-btn-dark {
    font-size: 22px;
    color: #ffffff;
  }
  
  /* Active Link Styling*/
  
  .active-icon {
    color: #ff0b37 !important;
  }
  
  .active-text {
    color: #1e293b !important;
  }
  
  .active-text-dark {
    color: #f9f9f9 !important;
  }
  
  .activeitem-bg {
    background-color: #e2e8f0 !important;
  }
  
  .activeitem-bg-dark {
    background-color: #606060 !important;
  }
  
  /* Common Styling*/
  
  .profile-img {
    display: none;
  }
  .sidebar-section {
    display: none;
  }
  .sidebar-section-dark {
    display: none;
  }
  .navsidebar-popup {
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  .sidebar-top-popup {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
  
    gap: 15px;
  }
  .sidebar-link-popup {
    display: flex;
  
    gap: 20px;
    padding: 10px 20px;
  }
  .navlink-popup-close {
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Styling for medium and large devices */
  
  @media screen and (min-width: 768px) {
    /* Light Theme styling */
  
    .navbar-section {
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
    }
  
    .logout-btn {
      display: block;
      height: 30px;
      width: 80px;
      background-color: #ffffff;
      color: #3b82f6;
      border: 2px solid #3b82f6;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 600;
    }
  
    .navbar-themeimg {
      font-size: 20px;
      align-self: center;
      cursor: pointer;
    }
    .logout-popupbg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 10px;
      align-self: center;
      padding: 30px 50px;
      gap: 30px;
    }
  
    /* Dark Theme styling */
  
    .navbar-section-dark {
      background-color: #212121;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
    }
  
    .logout-btn-dark {
      display: block;
      height: 30px;
      width: 80px;
      background-color: transparent;
      color: #f9f9f9;
      border: 2px solid #f9f9f9;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 600;
    }
  
    .navbar-themeimg-dark {
      color: #ffffff;
      font-size: 20px;
      align-self: center;
      cursor: pointer;
    }
    .logout-popupbg-dark {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #383838;
      border-radius: 10px;
      align-self: center;
      padding: 30px 50px;
      gap: 30px;
    }
  
    /* Common styling */
  
    .navbar-logo {
      margin: 0px;
  
      align-self: center;
    }
  
    .logo-img {
      width: 120px;
      cursor: pointer;
    }
  
    .navbar-items {
      display: flex;
      flex-direction: row;
      gap: 25px;
    }
  
    .profile-img {
      display: block;
      height: 30px;
      align-self: center;
    }
  
    .hamburger {
      display: none;
    }
    .sm-logout {
      display: none;
    }
  }
  